# Ignore history files
.Rhistory

# Ignore session data files
.RData

# Ignore Word files
*.docx

# Ignore Rmd default cache directory
/cache/

# Ignore Rmd files for Proposal
/UnitTestingHW/Proposal_files/
/UnitTestingHW/Proposal_cache/

# Ignore any temp files that are created by Rmd
*.utf9.md
*.knit.md

# Ignore PDF file of my redrawn manuscript figures
/UnitTestingHW/Proposal_images/Vannote1980_Redraw.pptx

.Rproj.user
